services:
  app:
    image: stirlingtools/stirling-pdf:2.5.0-fat@sha256:6c671ef6757292b35c5c031e581157b1f82f0951827232bb81307cc53acc5cf3
    container_name: stirling-app
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -f http://localhost:8080/api/v1/info/status | grep -q 'UP' && curl -fL http://localhost:8080/ | grep -qv 'Please sign in'",
        ]
      interval: 5s
      timeout: 10s
      retries: 16
    restart: on-failure:5
    ports:
      - "9004:8080"
    volumes:
      - /etc/stirling/trainingData:/usr/share/tessdata # Required for extra OCR languages
      - /etc/stirling/extraConfigs:/configs
      - /etc/stirling/customFiles:/customFiles/
      - /etc/stirling/logs:/logs/
      - /etc/stirling/pipeline:/pipeline/
    environment:
      - DISABLE_ADDITIONAL_FEATURES=false
      - LANGS=en_GB
      - SECURITY_ENABLELOGIN=false
