services:
  app:
    image: stirlingtools/stirling-pdf:2.5.1-fat@sha256:8b1dabdac8234559c750d644da53f8b3ce727e851cedea32bac40a0e91b31edc
    container_name: stirling-app
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -f http://localhost:8080/api/v1/info/status | grep -q 'UP' && curl -fL http://localhost:8080/ | grep -qv 'Please sign in'",
        ]
      interval: 5s
      timeout: 10s
      retries: 16
    restart: on-failure:5
    ports:
      - "9004:8080"
    volumes:
      - /etc/stirling/trainingData:/usr/share/tessdata # Required for extra OCR languages
      - /etc/stirling/extraConfigs:/configs
      - /etc/stirling/customFiles:/customFiles/
      - /etc/stirling/logs:/logs/
      - /etc/stirling/pipeline:/pipeline/
    environment:
      - DISABLE_ADDITIONAL_FEATURES=false
      - LANGS=en_GB
      - SECURITY_ENABLELOGIN=false
