services:
  app:
    image: ghcr.io/etechonomy/joplin-server:3.3.13
    container_name: joplin-app
    depends_on:
      - db
    ports:
      - "22300:22300"
    restart: unless-stopped
    env_file:
      - stack.env

  db:
    image: postgres:16
    container_name: joplin-db
    volumes:
      - joplin_pg_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped
    env_file:
      - stack.env

volumes:
  joplin_pg_data:
