services:
  app:
    image: docker.io/actualbudget/actual-server:latest@sha256:e82b7302b0db7f8fa063159e8bddc07443bb83761798dc9ba84fe1b3df62d74f
    container_name: actual-app
    ports:
      - "9002:5006"
    volumes:
      - data:/data
    healthcheck:
      test: ["CMD-SHELL", "node src/scripts/health-check.js"]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 20s
    restart: unless-stopped

volumes:
  data:
